.eslintrc.json
.DS_Store
*.tgz

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Only dev-dependencies
package-lock.json

# Env information / sensitive data
.env
pids
*.pid
*.seed
*.pid.lock
sftp-config.json

# Don't include dep directories.
node_modules/
jspm_packages/

# NPM cache
.npm

# Node REPL history
.node_repl_history

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*.sublime-workspace

# Sublime Package Control files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache